service cloud.firestore {
  match /databases/{database}/documents {
    match /calendar/{document=**} {
        allow read: if request.auth != null;
        allow write, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    match /attendance/{document} {
      allow read: if request.auth.uid == request.resource.data.person_uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
      allow create: if request.auth.uid == request.resource.data.person_uid;
      allow update: if request.auth.uid == resource.data.person_uid;
    }
    match /users/{userID} {
        allow read: if request.auth.uid == userID;
        allow write, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
