.authForm {
    text-align: left;
    padding: 70px 0;
}

.authInput {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 2px solid black;
    background: lightgrey;
}

.boldText {
    font-weight: bold;
}

.authSubmit {
    margin-left: 10px;
    padding: 10px;
    border: 2px solid black;
}

.calendarRowWeek {
    border: 1px solid blue;
}

.calendarRowWeekTop {
    border: 1px solid red;
    z-index: -1;
}

.calendarColumnDay {
    text-align: center;
    width: calc(70% / 7);
    float: left;
}

.calendarLineBreak {
    border: none;
    width: 70%;
}

.CancelButton {
    border: 2px solid black;
    background: darkorange;
}

.DatePickerInput {
    border: 2px solid black;
    background: lightgrey;
}

.DatePickerSubmit {
    margin-left: 10px;
    border: 2px solid black;
}

.navbar-column {
    padding-bottom: 100%;
    width: 25%;
    background: #ed5738;
    float: left;
}

.content-column {
    width: calc(100 - 30%);
    padding-left: 26%;
    padding-right: 4%;
}

.navbar-item {
    border: 2px solid white;
    padding: 32px 10px;
    margin: 10px;
    text-align: center;
}

.SubmitButton {
    background: olivedrab;
    border: 2px solid black;
    margin: 5px;
}

.ViewEvent {
    background: mediumvioletred;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 786px) {
    .navbar-column {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .content-column {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}
