.authForm {
    text-align: left;
    padding: 70px 0;
}

.authInput {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 2px solid black;
    background: lightgrey;
}

body {
    font-family: "Helvetica Neue", sans-serif;

}

.boldText {
    font-weight: bold;
}

.authSubmit {
    margin-left: 10px;
    padding: 10px;
    border: 2px solid black;
}

.calendarRowWeek {
    border: 1px solid blue;
}

.calendarRowWeekTop {
    border: 1px solid red;
    z-index: -1;
}

.calendarColumnDay {
    text-align: center;
    width: calc(70% / 7);
    float: left;
}

.calendarLineBreak {
    border: none;
    width: 70%;
}

.CancelButton {
    border: 2px solid black;
    background: darkorange;
}

.DatePickerInput {
    border: 2px solid black;
    background: lightgrey;
}

.DatePickerSubmit {
    margin-left: 10px;
    border: 2px solid black;
}

.navbar {
    background: #4e4fed;
    font-weight: bold;
    padding: 5% 4%;
}

.content-column {
    width: calc(100 - 30%);
    padding-left: 26%;
    padding-right: 4%;
    background: rgba(198, 198, 198, 0.25);
}

.navbar-item, .navbar-item > a {
    color: yellow;
    font-size: 150%;
    text-decoration: none;
    display: inline;
    padding-right: 20px;
}

.SubmitButton {
    background: olivedrab;
    border: 2px solid black;
    margin: 5px;
}

.ViewEvent {
    background: mediumvioletred;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 786px) {
    .navbar-column {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .content-column {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

/* GRID STYLINGS */

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.row:last-child {
    margin-bottom: 0;
}

.row .col {
    flex-grow: 1;
    flex-basis: 0;
}

.row .col-1 {
    width: 8.333333333333332%;
}

.row .col-2 {
    width: 16.666666666666664%;
}

.row .col-3 {
    width: 25%;
}

.row .col-4 {
    width: 33.33333333333333%;
}

.row .col-5 {
    width: 41.66666666666667%;
}

.row .col-6 {
    width: 50%;
}

.row .col-7 {
    width: 58.333333333333336%;
}

.row .col-8 {
    width: 66.66666666666666%;
}

.row .col-9 {
    width: 75%;
}

.row .col-10 {
    width: 83.33333333333334%;
}

.row .col-11 {
    width: 91.66666666666666%;
}

.row .col-12 {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .row .col,
    .row [class^='col-'],
    .row [class*=" col-"] {
        flex-grow: 0;
        flex-basis: 100%;
    }

    .navbar-item, .navbar-item > a {
        display: block;
    }
}
