{% extends "base.html" %}
{% block content %}
    <h1>
        Confirm your email for d3bate
    </h1>
    <h2>
        <a href="{{ confirmation_url }}">Click me to confirm</a>
    </h2>
    <p>The link above will expire in 15 minutes. If you received this email more than 15 minutes ago, you will need to
        request a new signup email.</p>
    <p>If you didn't create a <a href="https://debating.web.app">d3bate</a> account someone else has tried to sign you
        up for
        one. Please ignore this email.
    </p>
{% endblock %}
